/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* your code */
body {
  margin: 1em 25%;
  background-color: #1e3932;
}
nav {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}
nav h1 {
  color: cyan;
}
header {
  display: flex;
  background-color: grey;
  margin-bottom: 1rem;
  border-radius: .2em;
  padding: 5px;
}

.city-list {
  display: flex;
  flex-direction: column;
  text-align: right;
  border: 2px solid white;
}

.city-item {
  background-color: #00754a;
  margin: .5rem .5rem;
}



